html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Acme', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Luckiest Guy', cursive;
    background-image: url(../images/leopard.jpg);
    Text-align: center;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}

.jumbotron {
    background: forestgreen;
}

canvas {
    border:1px solid #d3d3d3;
    background: #f1f1f1;
}

.row {
    display: float;
    display: auto;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -px;
    color: darkslategray;
    background-color: antiquewhite;
}

.button {
    color: green
}